* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

section h1 {
  font-size: 120px;
}

section svg {
  min-width: 50%;
  max-width: 80%;
}

section, footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline-section {
  position: relative;
  overflow: hidden;
}

#title,#tagline,#tagline2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

#tagline, #tagline2 {
  top: 65%;
}

#tagline g, #tagline2 g {
  stroke-dasharray: 400;
  stroke: black;
  transform-origin: 50% 50%;
}

path {
  transform-origin: 50% 50%;
  position: absolute;
}

.cube-section {
  perspective: 800px;
}

.cube {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
}

.cube-side {
  position: absolute;
  width: 400px;
  height: 400px;
  background:white;
}

.cube-front {
  transform: translateZ(200px);
}

.cube-right {
  transform: translateX(200px) rotateY(90deg);
}

.cube-row {
  font-size: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
