* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

section h1 {
  font-size: 120px;
}

section svg {
  min-width: 50%;
  max-width: 80%;
}

section, footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animation {
  position: relative;
  overflow: hidden;
}

#title,#tagline,#tagline2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

#tagline, #tagline2 {
  top: 65%;
}

#tagline g, #tagline2 g {
  stroke-dasharray: 400;
  stroke: black;
}

path {
  transform-origin: 50% 50%;
  position: absolute;
}
